body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#currencyGroupSelect {
  background-color: hsl(155, 75%, 75%);
  color: hsl(120, 27%, 28%);
  width: 60%;
  font-size: large;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  line-height: 1.1;
}

.updateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  
  color: white;
  height: 2em; width: 2em;

  border-radius: 50%;
  background-color: green;
}

.decreaseAlloc {
  background-color: red;
}

.material-symbols-rounded {
  font-size: xx-large;
}

